# Configuracion de MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=tu_password
DB_NAME=u_linker

# Flask
FLASK_SECRET_KEY=7abb318961aadfb9cef4aa4dd55b9f248d73649f2e4445c4c6372772548e3713
FLASK_DEBUG=True